<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title == "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/blog">Blog</a>
                <a class="link" href="{{ site.url }}/guides">Guides</a>
                <a class="link" href="{{ site.url }}/about">About</a>
            </li>
        {% endif %}

        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
                <a class="link" href="{{ site.url }}/blog">Blog</a>
                <a class="link" href="{{ site.url }}/guides">Guides</a>
                <a class="link" href="{{ site.url }}/categories">Categories</a>
                <a class="link" href="{{ site.url }}/tags">Tags</a>
                <a class="link" href="{{ site.url }}/about">About</a>
                <a class="link" href="{{ site.url }}/search">Search</a>

            </li>
            <br>
            <!--<a href="/search/"><img src="/assets/images/icon/icon_search.png" width="30px" style="float:right" /></a>-->

        {% endif %}

    </ul>
</nav>
